.file-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.2s;
}

.file-selector svg {
    font-size: 2em;
}

.file-selector p {
    font-size: 1em;
    margin: 0;
    font-weight: bold;
    overflow: hidden;
    width: 160px;
    text-align: left;
}