.progression {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.step {
    font-size: 5em;
    display: flex;
    color: #1a3046;
    transition: color 0.2s, transform 0.2s;
    transform-origin: center center;
    will-change: transform, color;
    cursor: pointer;
}

.step:hover {
    color: #2f5377;
    transform: scale(1.08);
}




.step.selected {
    color: rgb(54, 144, 218);
}