.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    width: 1000px;
    height: 600px;
    background-color: var(--app-background);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.app--content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: var(--app-content-background);
    border-radius: 20px;
}